@mixin NavAlign {

}

$PrimaryBgColor: rgb(19, 33, 73);


.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 0;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
    color: white;
    background-color: $PrimaryBgColor;

    .nav__logo {
        display: flex;
        width: 30vw;
        padding-left: 20px;
    }
    
    .nav__container {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        align-items: center;
        background-color: $PrimaryBgColor;
        padding: 0 20px;
    }

    .nav__sign__up {

    }

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 10px;
    }
}