@mixin NavAlign {

}

$PrimaryBgColor: rgb(19, 33, 73);


.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    z-index: 100;
    top: 0;
    height: auto;
    width: 100vw;
    color: white;
    background-color: $PrimaryBgColor;

    .nav__logo {
        display: flex;
        padding-left: 40px;
    }
    
    .nav__container {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        align-items: center;
    }

    .nav__sign__up {
        padding-right: 40px;
    }

    .nav__list {
        width: 60vw;
        display: flex;
        justify-content: center;
        gap: 100px;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 10px;
    }
}